:root {
  --primary-bg: #fff;
  --primary-text: #030c01;

  /* Button */
  --primary-button-bg: linear-gradient(-65deg, #e8e81c, #42ed13);
  --secondary-button-bg: #fff;
  --secondary-button-border-color: #030c0126;
  --pagination-button-border-color: #030c0126;
  --pagination-button-bg: #fff;
  --button-clicked-bd: #4e544d;
  --button-clicked-text: #fff;

  --footer-border: #ffffff26;
}
