:root {
  --primary-bg: #fff;
  --primary-text: #030c01;

  /* Button */
  --primary-button-bg: linear-gradient(115deg, #e8e81c, #42ed13);
  --secondary-button-bg: #fff;
  --secondary-button-border-color: #030c0126;
  --pagination-button-border-color: #030c0126;
  --pagination-button-bg: #fff;
  --pagination-button-hover-bg: #d9fbcf;
  --pagination-button-clicked-bg: #7af259;
  --button-clicked-bg: #4e544d;
  --button-clicked-text: #fff;

  --input-border-color: #030c0126;
  --input-placeholder: #030c0199;
  --input-focused-border: #030c01;

  --footer-bg: #eeee60;
  --footer-border: #030c0126;

  --modal-bg: #00000040;

  --notification-bg: #ffffff;
  --notification-border-color: #030c0126;
  --notification-error-border-color: #d13e3e;

  --loader-spiner-color: linear-gradient(115deg, #e8e81c, #42ed13);
}
